* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
    
.header {
    right: 0;
    padding: 30px;
    width: 110%;
    height: auto;
    box-shadow: 0px 2px 4px #242424;
}

h3 {
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.icon {
    position: absolute;
    color: black;
    top: 15px;
    font-size: 30px;
    cursor: pointer;
}

.iconAccount {
    position: absolute;
    right: 5%;
    top: 12px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

